div#graph_container
{
	width: 100%;
	height: 100%;
	min-height: 778px;
}

svg#graph
{
	width: 100%;
	height: 100%;
	background-color: #080022;
}

g.argument
{
}

g.argument rect
{
	stroke: #1B0071;
	fill: #ECE6FF;
	shape-rendering: crispEdges;
	stroke-width: 1;
}

div.summary
{
	padding: 15px;
}

p
{
	fill: #ECE6FF;
	font-family: Garamond, 'Times New Roman';
	font-size: 20;
	color: #080022;
	font-weight: bold;
}

path
{
	stroke-width: 5px;
	fill: none;
}

path.support
{
	stroke: green;

}

path.oppose
{
	stroke: red;
}