svg#graph
{
	background-color: #080022;
}

svg.argument
{
}

svg.argument rect
{
	stroke: #1B0071;
	fill: #ECE6FF;
	shape-rendering: crispEdges;
	stroke-width: 1;
}

svg.toolbar rect
{
	stroke: #0F0F0F;
	fill: #0F0F0F;
}

div.summary
{
	padding: 15px;
}

p
{
	fill: #ECE6FF;
	font-family: Garamond, 'Times New Roman';
	font-size: 20;
	color: #080022;
	font-weight: bold;
}

path
{
	stroke-width: 5px;
	fill: none;
}

path.support
{
	stroke: green;

}

path.oppose
{
	stroke: red;
}

switch text
{
	font-size: 20px;
	fill: red;
}

img#spinner
{
	position: fixed;
	top: 5px;
	right: 5px;
	width: 75px;
	height: auto;
}