svg#graph
{
	background-color: #080022;
}

svg.argument
{
}

svg.argument rect
{
	stroke: none;
	fill: #ECE6FF;
	shape-rendering: crispEdges;
	stroke-width: 1;
}

svg.toolbar svg rect
{
	stroke: none;
	fill: #555;
}

svg.toolbar svg text
{
	fill: #DDD;
	font-size: 16px;
	text-anchor: middle;
	letter-spacing: 2;
}

div.summary
{
	padding: 15px;
}

div.summary p, div.summary textarea
{
	background-color: #ECE6FF;
	font-family: Garamond, 'Times New Roman';
	font-size: 20;
	color: #080022;
	font-weight: bold;
}

div.summary textarea
{
	outline: none;
	border-style: none; 
    border-color: Transparent;
    height: 100%;
    width: 100%;
    color: #8880A2;
}

path
{
	stroke-width: 5px;
	fill: none;
}

path.support
{
	stroke: green;
}

path.support.under_construction
{
	stroke: #80FF80;
}

path.oppose
{
	stroke: red;
}

path.oppose.under_construction
{
	stroke: #FF8080;
}

switch text
{
	font-size: 20px;
	fill: red;
}

img#spinner
{
	position: fixed;
	top: 5px;
	right: 5px;
	width: 75px;
	height: auto;
}

div#argument-address-modal input
{
	width: 100%;
}