@centered{
	<h1>Terms of Service</h1>

	<p>By using ShallWeDebate.com you agree to</p>

	<ul>
		<li>Not hold the owner and operator of ShallWeDebate.com accountable for anything resulting from the use of this website</li>
		<li>Publicly release any hosted modified versions of <a href="https://github.com/amosjyng/ShallWeDebate">the source code for this website</a>, in accordance with <a href="http://www.gnu.org/licenses/agpl-3.0.html">the GNU Affero General Public License</a></li>
		<li>Have all your user-generated content be publicly available under the <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></li>
	</ul>
}