@stylesheets = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/debate-styles.css")">
}

@scripts = {
    <script src="@routes.Assets.at("javascripts/display-debate.js")" type="text/javascript"></script>
}

@main(stylesheets, scripts){
    <div id="argument-address-modal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Avoid redundant discussions. Share this debate:</h4>
                </div>

                <div class="modal-body">
                    <input type="text" value="insert address here">
                </div>
            </div>
        </div>
    </div>
    <div id="graph_container">
        <svg id="graph" preserveAspectRatio="none" width="940" height="808">
            <defs>
                <marker id="arrow-support" viewBox="0 0 10 10" refX="0" refY="5"
                        markerUnits="strokeWidth" orient="auto" fill="#00B920"
                        markerWidth="3">
                    <polyline points="0,0 10,5 0,10 "></polyline>
                </marker>
                <marker id="arrow-support-under-construction" viewBox="0 0 10 10" refX="0" refY="5"
                        markerUnits="strokeWidth" orient="auto" fill="#ACF9B9"
                        markerWidth="3">
                    <polyline points="0,0 10,5 0,10 "></polyline>
                </marker>
                <marker id="arrow-oppose" viewBox="0 0 10 10" refX="0" refY="5"
                        markerUnits="strokeWidth" orient="auto" fill="#FF0D07"
                        markerWidth="3">
                    <polyline points="0,0 10,5 0,10 "></polyline>
                </marker>
                <marker id="arrow-oppose-under-construction" viewBox="0 0 10 10" refX="0" refY="5"
                        markerUnits="strokeWidth" orient="auto" fill="#FFB2B0"
                        markerWidth="3">
                    <polyline points="0,0 10,5 0,10 "></polyline>
                </marker>
            </defs>

            <svg id="link-toolbar" class="toolbar"></svg>
            <svg id="links"></svg>
            <svg id="cards"></svg> <!-- bottom SVG elements get displayed on top -->
        </svg>
    </div>
    <img src="/assets/images/spinner.GIF" alt="ajax indicator" id="spinner" style="display: none;">
}