$primary-lightest: #ECE6FF;
$primary:          #1B0071;
$primary-dark:     #8880A2;
$primary-darkest:  #080022;

$green-lightest: #80FF80;
$green:          green;

$red-lightest: #FF8080;
$red:          red;