@import 'colors';

$min-footer-distance: 30px;
$footer-height: 20px;
$footer-offset: $min-footer-distance + $footer-height;

h1
{
	font-size: 50px;
	word-spacing: 2px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 20px;
}

h2
{
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h3
{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 1px;
}

p
{
	font-size: 17px;
	margin-bottom: 1em;
}

a, a:hover
{
	color: $red-light;
}

.push-bottom
{
	margin-bottom: 40px;
}

html, body
{
	height: 100%;
}

form.form-inline div.form-group
{
	width: 100%;
	max-width: 400px;
}

body, svg#graph
{
	background-color: $primary-darkest;
	color: $primary-lightest;
}

div#content-container
{
	min-height: 100%;
	width: 100%;
	overflow: auto;
	padding-bottom: $footer-offset;

	div#content
	{
		padding-top: 25px;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

#navbar
{
	background-color: $primary-dark;
	background-image: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 0;

	div.container-fluid
	{
		#username
		{
			margin-right: 30px;
		}

		a, a:hover
		{
			color: $primary-light;
			font-size: 20px;
			font-weight: bold;
			text-shadow: none;
			text-transform: uppercase;
		}

		a.navbar-brand
		{
			font-size: 30px;
			letter-spacing: 2px;
			text-shadow: none;
			padding-left: 90px;

			img
			{
				height: 35px;
				width: auto;
				position: absolute;
				margin-top: -8px;
				margin-left: -50px;
			}
		}

		ul.navbar-right
		{
			$caret-size: 8px;

			.caret
			{
				border-left: $caret-size solid transparent;
				border-right: $caret-size solid transparent;
				border-top: $caret-size solid $primary-light;
				vertical-align: middle;
				padding-bottom: 0.2em;
			}

			// the LOGIN/username button
			a, li.open ul.dropdown-menu a
			{
				padding-left: 20px;
				padding-right: 20px;
			}
			
			a:hover
			{
				color: $primary-lightest;

				.caret
				{
					border-top-color: $primary-lightest;
				}
			}

			li.open
			{
				// the menu items when the LOGIN button is clicked
				a
				{
					color: $primary-darkest;
					background-color: $primary-lightest;

					.caret
					{
						border-top-color: $primary-darkest;
					}
				}
				
				ul.dropdown-menu
				{
					background-color: $primary-lightest;
					border-radius: 0;
					margin-top: -1px;
					margin-right: -1px;

					a, a:hover
					{
						color: $primary-darkest;
						background-color: $primary-lightest;
						background-image: none;
					}

					a:hover
					{
						color: $primary;
					}
				}
			}
		}
	}
}

div#footer-container
{
	height: $footer-offset;
	margin-top: -$footer-offset;
	position: relative;
	
	div#footer
	{
		width: 100%;
		padding-top: $min-footer-distance - $footer-height;
		text-align: center;
	}

	div#footer, a, a:hover
	{
		color: $primary;
	}
}

.modal-content
{
	color: #000;
}
