@import 'colors';

h1
{
	font-size: 50px;
	word-spacing: 2px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 20px;
}

h3
{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 1px;
}

p
{
	font-size: 17px;
	margin-bottom: 1em;

	a, a:hover
	{
		color: $green-light;
	}
}

body, svg#graph
{
	background-color: $primary-darkest;
	color: $primary-lightest;
}

div#content-container
{
	margin-top: 25px;
	width: 100%;

	div#content
	{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

.navbar
{
	background-color: $primary-dark;
	background-image: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 0;

	a.navbar-brand
	{
		font-size: 30px;
		font-weight: bold;
		color: $primary-light;
		letter-spacing: 2px;
		text-shadow: none;
		text-transform: uppercase;
		padding-left: 90px;

		img
		{
			height: 35px;
			width: auto;
			position: absolute;
			margin-top: -8px;
			margin-left: -50px;
		}
	}

	a.navbar-brand:hover
	{
		color: $primary-light;
	}
}

.modal-content
{
	color: #000;
}