@import 'colors';

$min-footer-distance: 30px;
$footer-height: 20px;
$footer-offset: $min-footer-distance + $footer-height;

h1
{
	font-size: 50px;
	word-spacing: 2px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 20px;
}

h2
{
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h3
{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 1px;
}

p
{
	font-size: 17px;
	margin-bottom: 1em;
}

a, a:hover
{
	color: $green-light;
}

html, body
{
	height: 100%;
}

form.form-inline div.form-group
{
	width: 100%;
	max-width: 400px;
}

body, svg#graph
{
	background-color: $primary-darkest;
	color: $primary-lightest;
}

div#content-container
{
	min-height: 100%;
	width: 100%;
	overflow: auto;
	padding-bottom: $footer-offset;

	div#content
	{
		padding-top: 25px;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

.navbar
{
	background-color: $primary-dark;
	background-image: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 0;

	a.navbar-brand
	{
		font-size: 30px;
		font-weight: bold;
		color: $primary-light;
		letter-spacing: 2px;
		text-shadow: none;
		text-transform: uppercase;
		padding-left: 90px;

		img
		{
			height: 35px;
			width: auto;
			position: absolute;
			margin-top: -8px;
			margin-left: -50px;
		}
	}

	a.navbar-brand:hover
	{
		color: $primary-light;
	}
}

div#footer-container
{
	height: $footer-offset;
	margin-top: -$footer-offset;
	position: relative;
	
	div#footer
	{
		width: 100%;
		padding-top: $min-footer-distance - $footer-height;
		text-align: center;
	}

	div#footer, a, a:hover
	{
		color: $primary;
	}
}

.modal-content
{
	color: #000;
}
