body, svg#graph
{
	background-color: #080022;
	color: #ECE6FF;
}

.navbar
{
	background-color: #1B0071;
	background-image: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 0;

	a.navbar-brand
	{
		font-size: 30px;
		font-weight: bold;
		color: #ECE6FF;
		letter-spacing: 2px;
	}

	a.navbar-brand:hover
	{
		color: #ECE6FF;
	}
}

.modal-title
{
	color: #000;
}