<html>
<head>
    <title>Shall We Debate?</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/debate-styles.css">
    <script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/d3.v3.min.js"></script>
    <script src="/assets/javascripts/sitewide.js"></script>
</head>

<body>
<div id="modal-info" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sample modal notification</h4>
            </div>

            <div class="modal-body">
                <p>Sample modal content.</p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SHALL WE DEBATE?</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<p>This is currently a work-in-progress. You can check out <a href="/arguments/1/">what's been done so far</a>, though please note that any arguments you make at this time may not be preserved when the site is finished.</p>

<p>The source code to this website will be released on Github once it is finished.</p>

</body>
</html>