@centered{
	<h1>A new way to debate</h1>

    <p>You're looking at an experimental <a href="https://github.com/amosjyng/ShallWeDebate">open source</a> platform for collaborative debate. Check out <a href="/arguments/1/">a sample debate</a>.</p>

    <p class="push-bottom">Please note that this website is far from finished! Think it has potential but is not quite there yet? Subscribe below and you can take another look when more features are added. You're also welcome to send feedback to <a href="mailto:feedback@@shallwedebate.com?subject=Yo%2C%20I%20got%20something%20to%20say%20about%20ShallWeDebate.com...">feedback@@shallwedebate.com</a>, of course.</p>

    <div class="container-fluid push-bottom">
    	<div class="row">
    		<div class="col-md-6">
    			<h3>Reuse</h3>

    			<p>Debate once, settle everywhere. Instead of debating the same issue with different people in different places, simply link everyone to the same discussion.</p>
    		</div>
    		<div class="col-md-6">
    			<h3>Collaborate</h3>

    			<p>Everyone can contribute. Not convinced by an argument? See some supporting evidence not mentioned? Add it for all to see.</p>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-md-6">
    			<h3>Organize</h3>

    			<p>Cut through the rhetoric to see how arguments really relate to one another, and prevent arguments from falling through the cracks. Unresolved arguments are easy to find and reply to.</p>
    		</div>
    		<div class="col-md-6">
    			<h3>Mediate</h3>

    			<p>Outnumbered, outvoted, and out-administrated, you'll never win an argument against X in a pro-X forum. With no voting or removal of "stupid" posts, this site serves as a neutral battleground between all sides.</p>
    		</div>
    	</div>

        <div class="row">
            <div class="col-md-12">
                <h3>Anonymize</h3>

                <p>Ideas should stand on their own merits, not on the merit of those who make them. Also, do you really want your friends to see you arguing Nickelback is the greatest band ever?</p>
            </div>
        </div>
    </div>
}
