@(form: Form[Subscriber])

@centered{
	<h1>A new way to debate</h1>

    <p>This is currently a work-in-progress. You can check out <a href="/arguments/1/">what's been done so far</a>, though please note that any arguments you make at this time may not be preserved when the site is finished.</p>

    <p style="margin-bottom: 40px;">The source code to this website will be released on Github once it is finished.</p>

    <div class="container-fluid" style="margin-bottom:40px">
    	<div class="row">
    		<div class="col-md-6">
    			<h3>Reuse</h3>

    			<p>Debate once, settle everywhere. Instead of debating the same issue with different people in different places, simply link everyone to the same discussion.</p>
    		</div>
    		<div class="col-md-6">
    			<h3>Collaborate</h3>

    			<p>Everyone can contribute. Not convinced by an argument? See some supporting evidence not mentioned? Add it for all to see.</p>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-md-6">
    			<h3>Organize</h3>

    			<p>Cut through the rhetoric to see how arguments really relate to one another, and prevent arguments from falling through the cracks. Unresolved arguments are easy to find and reply to.</p>
    		</div>
    		<div class="col-md-6">
    			<h3>Mediate</h3>

    			<p>Outnumbered and out-administrated, you'll never win an argument against X in a forum where everyone believes in X. This site serves as a neutral battleground between all who believe and don't believe in X.</p>
    		</div>
    	</div>
    </div>

    @if(form != null) {
	    @if(form.hasGlobalErrors) {
	        <div class="alert alert-danger" role="alert">
	        	 <strong>Oops.</strong> @form.globalError.message
	        </div>
	    } else {
	    	<div class="alert alert-success" role="alert">
	        	<strong>Success!</strong> You've been added to the mailing list.
	        </div>
	    }
    }
    <h2>Keep updated</h2>
    <form class="form-inline" role="form" action="/addSubscriber/" method="post">
    	<div class="form-group">
    		<label class="sr-only" for="subscriber-email">Email address</label>
    		<input name="email" type="email" class="form-control" id="subscriber-email" placeholder="Enter your email and...">
    	</div>
    	<button type="submit" class="btn btn-default">Subscribe to updates!</button>
    </form>
}