@(stylesheets: Html = Html(""), scripts: Html = Html(""))(content: Html)(footer: Html = Html(""))

@import com.feth.play.module.pa.views.html._

<html>
<head>
    <title>Shall We Debate?</title>
    <link rel="icon" type="image/png" href="@routes.Assets.at("images/logo.png")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    @stylesheets
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/d3.v3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.history.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sitewide.js")" type="text/javascript"></script>
    @scripts
</head>

<body>
<div id="modal-info" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sample modal notification</h4>
            </div>

            <div class="modal-body">
                <p>Sample modal content.</p>
            </div>
        </div>
    </div>
</div>

<div id="content-container">
    <nav id="navbar" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><img src="@routes.Assets.at("images/logo.png")"> Shall We Debate?</a>
            </div>

            <div id="username" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @currentAuth() { auth =>
                                @if(auth == null) {
                                    LOGIN <span class="caret">
                                }
                            }
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div id="content">@content</div>
</div>

@footer

</body>
</html>